/* Wrapper */
.nav-wrapper {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

/* Navbar */
.navbar {
  width: 100%;
  max-width: 1200px;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #111;
}

/* Logo */
.logo img {
  width: 45px;
  height: 45px;
  border-radius: 14px;
}

/* Desktop Nav */
.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  margin-left: 10px; ;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
}

/* Mobile */
@media (max-width: 768px) {

  .hamburger {
    display: flex;
    margin-right: 20px;
  }

  .nav-links {
    display: none; /* hidden by default */
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #111;

    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  /* show menu */
  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    margin: 15px 0;
  }
}